//styles for category pages
.nyustories-category {
display:block;
margin:0 auto 30px auto;
padding-bottom:80px;
border-bottom:1px solid $color-teal-dark;
	
	.section-header {	
	margin:40px 0;
	padding:0;	
	}

	h1 {
	margin:0;	
	padding:0;
	margin-top:70px;	
	}
	
	p {
	font-size:15px;
	line-height:24px;	
	}
	
}

.cat-header {
margin-top:50px;
margin-bottom:60px;
}

.cat-divider-vertical {
border-right:2px solid $color-teal-sky;
}

.featured-cat-detail {
margin-bottom:60px;
padding-bottom:30px;
border-bottom:2px solid	$color-teal-sky;		
}

.cat-detail {	
	
	ul {
	margin:0;
	padding:0;
	}

	.featured-cat-detail,
	li {
	margin:30px 0;			
	}
	
	li:first-child {
	margin-top:0;
	}
	
	.featured-cat-detail:after,
	li:after {
	content:"";
	display:block;
	margin:0 15px 0 0;
	padding-top:15px;
	border-bottom:1px solid $cat-divider-horizontal;
	}
	
	li:last-child:after {
	border:0;
	}
}

.cat-detail-image {
display:table-cell;
vertical-align:top;
padding-right:30px;
	
	img {
	margin:0;
	padding:0;
	}
}

.cat-detail-content {
display:table-cell;
vertical-align:top;	

	p {
	margin-left:0;
	}
	
	h2, h3 {	
	margin:-4px 0 0 0;
	font:$font-weight-medium 20px/24px $font-stack-ssm;		
		
		a {
			color:$section-header-title;
		}	
		
		a:hover {
			color:$color-nyu-pink;
			text-decoration:none;
		}
	}
}