/* resets */
body {
-webkit-font-smoothing: antialiased;
-moz-osx-font-smoothing: grayscale;
}

/* common */
.clearfix { 
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

.uppercase {
text-transform:uppercase;
}

.highlight {
color: $text-highlight;
}

.title-center {
display:table-cell;	
text-align:center;
vertical-align:middle;
}

.section-box {
	min-width:355px;
	margin:0 15px;
	
	p {
		margin:5px 0;
		padding:0;
	}
}

.section-box-140words {
width:355px;
}

.section-box-twitter {
width:545px;
	
	p {
	margin-bottom:24px;
	}
	
	p:last-child {
	margin-bottom:0;
	}
}

.section-box-title {
background-color:$section-title-background-home;
border:1px solid #000;
border-bottom:0;
font:$font-weight-medium 16px/1.5 $font-stack-ssm;
line-height:80px;
height:80px;
padding-left:35px;
padding-right:35px;
}

.nyu-stories-category .section-box-title {
background-color:$section-title-background;
}

.section-box-content {
border:1px solid #000;
background-color:#FFF;
padding:30px; 

	p {
	font:normal 11px/1.5 $font-stack-ssm;
	}
}

//this is for the icons to align correctly on a newline below content
.whitePromoBox div.caption-article:after,
.whitePromoBox div.caption-video:after, 
.whitePromoBox div.caption-slideshow:after,

.cat-detail-content.caption-article:after,
.cat-detail-content.caption-video:after,
.cat-detail-content.caption-slideshow:after {
display:block;
margin-left:0;
}