/* nav */
.stories-main-nav-wrap {
position:absolute;
//top:245px; //removed and added into main.js
background: $nav-main-background;
width:100%;
height:50px; 
z-index:999;

	.stories-main-nav {
		width:960px;
		margin:0 auto;
		
		.logo-stories a:hover {
			background:transparent;
		}
		
		ul {
			float:right;
			text-align:left;
			width:500px;			
			font:$font-weight-medium 14px/50px $font-stack-ssm;
		}
		
		ul li {					
			display:inline-block;
		}
		
	}
	
	a {		
		display:block;		
		color: $nav-main-link;
		text-transform:uppercase;				
		padding:0 20px;
	}	
	
	a:hover {
		text-decoration:none;
		background: $nav-main-active;
	}
	
	.active {
		background: $nav-main-active;
	}
	
	.logo-stories {
		position:absolute;
		top:-15px;
	}
}