/* nav */
.stories-main-nav-wrap {
position:absolute;
//top:245px;
background: $nav-main-background;
width:100%;
height:50px; 
font-family: $font-stack-ssm;
font-style: normal;
font-weight: $font-weight-medium;
z-index:999;

	.stories-main-nav {
		width:960px;
		margin:0 auto;
		
		.logo-stories a:hover {
			background:transparent;
		}
		
		ul {
			float:right;
			text-align:left;
			width:500px;			
			font-size: 0;
		}
		
		ul li {		
			font-size:12px;
			display:inline-block;
		}
		
	}
	
	a {
		font-size:14px;
		display:block;		
		color: $nav-main-link;
		text-transform:uppercase;
		line-height:50px;		
		padding:0 20px;
	}	
	
	a:hover {
		text-decoration:none;
		background: $nav-main-active;
	}
	
	.active {
		background: $nav-main-active;
	}
	
	.logo-stories {
		position:absolute;
		top:-15px;
	}
}