//styles for story template
.nyu-stories-story {
display:block;
text-align:left;			
	
	.nyuImage .left {
		margin-left:-100px;
	}
}

.story {
display:block;
margin:0 auto 30px auto;
padding-bottom:80px;
border-bottom:1px solid $color-teal-dark;
	
	p {
		font-size:15px;
		line-height:24px;
	}
	
	h1 {
		display:inline-block;
		margin-top:-3px;
		margin-bottom:53px;
		width:76%;
		font-family: $font-stack;
		font-size:46px;
		line-height:52px;
		font-weight:$font-weight-light;
		color:$section-header-title;	
	}
	
	time {		
		display:inline-block;
		width:18%;
		vertical-align:top;
		margin:3px 0 0 15px;
		font-family: $font-stack-ssm;
		font-size:14px;
		font-weight:$font-weight-medium;
		color:$color-teal-light;		
	}
	

}

.story-header {
margin-top:50px;
margin-bottom:60px;
}

.story-content {
padding-left:195px;
padding-left:200px;
}