/* nav */
.stories-main-nav-wrap {
  position: absolute;
  top: 245px;
  background: #77c4d3;
  width: 100%;
  height: 50px;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-style: normal;
  font-weight: 700;
  z-index: 999;
}
.stories-main-nav-wrap .stories-main-nav {
  width: 960px;
  margin: 0 auto;
}
.stories-main-nav-wrap .stories-main-nav .logo-stories a:hover {
  background: transparent;
}
.stories-main-nav-wrap .stories-main-nav ul {
  float: right;
  text-align: left;
  width: 500px;
  font-size: 0;
}
.stories-main-nav-wrap .stories-main-nav ul li {
  font-size: 12px;
  display: inline-block;
}
.stories-main-nav-wrap a {
  font-size: 14px;
  display: block;
  color: white;
  text-transform: uppercase;
  line-height: 50px;
  padding: 0 20px;
}
.stories-main-nav-wrap a:hover {
  text-decoration: none;
  background: #0a7aa6;
}
.stories-main-nav-wrap .active {
  background: #0a7aa6;
}
.stories-main-nav-wrap .logo-stories {
  position: absolute;
  top: -15px;
}

/* resets */
body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* common */
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.uppercase {
  text-transform: uppercase;
}

.highlight {
  color: #ffb800;
}

.title-center {
  display: table-cell;
  text-align: center;
  vertical-align: middle;
}

.section-box {
  margin: 0 15px;
}
.section-box p {
  margin: 5px 0;
  padding: 0;
}

.section-box-140words {
  width: 355px;
}

.section-box-twitter {
  width: 545px;
}
.section-box-twitter p {
  margin-bottom: 24px;
}
.section-box-twitter p:last-child {
  margin-bottom: 0;
}

.section-box-title {
  background-color: #ffb800;
  border: 1px solid #000;
  border-bottom: 0;
  font: normal 16px/21px "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-weight: 700;
  line-height: 80px;
  height: 80px;
  padding-left: 35px;
  padding-right: 35px;
}

.section-box-content {
  border: 1px solid #000;
  background-color: #FFF;
  padding: 30px;
}

/* structure */
.featured {
  position: relative;
  width: 100%;
  margin-top: 88px;
}

.main-story {
  position: relative;
  display: block;
  width: 100%;
  height: 480px;
  max-height: 480px;
  overflow: hidden;
  text-align: left;
  border-bottom: 12px solid #0a7aa6;
}
.main-story img {
  display: block;
  width: 100%;
}
.main-story a.story-link {
  float: left;
  display: inline-block;
  width: 70%;
  height: 480px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.main-story-desc {
  position: relative;
  float: left;
  width: 30%;
  height: 100%;
  background-color: #333745;
}
.main-story-desc .main-info {
  position: absolute;
  left: 0;
  bottom: 0;
}
.main-story-desc h2 {
  color: #ffb800;
  font: 700 14px "Gotham SSm A", "Gotham SSm B", sans-serif;
}
.main-story-desc p {
  width: 50%;
  font: 300 20px "Gotham A", "Gotham B", sans-serif;
}
.main-story-desc a {
  color: #FFF;
  text-decoration: none;
}

ul, li {
  margin: 0;
  padding: 0;
}

li.featured-story {
  float: left;
}

.featured-story {
  position: relative;
  width: 33.333%;
  text-align: left;
  background-repeat: no-repeat;
  border-left: 1px solid white;
  border-right: 1px solid white;
}

.featured-story:first-child {
  border-left: 0;
}

.featured-story:last-child {
  border-right: 0;
}

a.story-link {
  display: block;
  width: 100%;
  text-decoration: none;
}

.story-img {
  display: block;
  height: 225px;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.story-img::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 225px;
  background-color: #000;
  opacity: 0.1;
}

a.story-link:hover .story-img:before {
  opacity: 0;
}

.story-caption {
  padding-left: 5px;
  font: normal 16px/21px "Gotham SSm A", "Gotham SSm B", sans-serif;
  color: #333745;
}

.caption-article:after {
  content: "";
  display: inline-block;
  margin-left: 5px;
  margin-bottom: -3px;
  background-image: url(../images/sprites.png);
  background-repeat: no-repeat;
  width: 14px;
  height: 17px;
}

.caption-video:after {
  content: "";
  display: inline-block;
  margin-left: 5px;
  margin-bottom: -4px;
  background-image: url(../images/sprites.png);
  background-repeat: no-repeat;
  background-position: -60px 0;
  width: 22px;
  height: 17px;
}

.caption-slideshow:after {
  content: "";
  display: inline-block;
  margin-left: 5px;
  margin-bottom: -3px;
  background-image: url(../images/sprites.png);
  background-repeat: no-repeat;
  background-position: -30px 0;
  width: 16px;
  height: 17px;
}

/* sections */
.section-header {
  padding-top: 150px;
  color: #77c4d3;
}
.section-header h1, .section-header h2 {
  display: inline-block;
  margin-bottom: 53px;
  font-family: "Gotham A", "Gotham B", sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: 300;
  color: #0a7aa6;
}
.section-header .subhead {
  display: inline-block;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-size: 14px;
  font-weight: 700;
}

.fullwidth {
  display: table;
  position: relative;
  width: 100%;
  height: 400px;
  margin-top: 155px;
  background-size: cover;
  background-repeat: no-repeat;
  text-align: left;
}
.fullwidth .excerpt-title {
  display: table-cell;
  width: 100%;
  height: 100%;
  text-align: center;
  vertical-align: middle;
  font: normal 20px/28px "Gotham A", "Gotham B", sans-serif;
  z-index: 11;
}
.fullwidth .excerpt-title a {
  color: #FFF;
  text-decoration: none;
}

.fullWidth:before {
  display: table;
  content: "";
}

.fullwidth-content {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
}

.overlay {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  opacity: .65;
  z-index: 10;
}

.overlay-green {
  background-color: #77c4d3;
}

/* promos */
.doubleColPromo,
.tripleColPromo {
  width: 100%;
  overflow: hidden;
}

.doubleColPromo img,
.tripleColPromo img {
  width: 100%;
  height: 320px;
}

/* footer */
.nyu-stories-footer {
  position: relative;
  width: 100%;
  height: 240px;
  background-color: #c7c7c9;
}

.nyu-stories-footer-content {
  padding-top: 65px;
  text-align: left;
  font-family: "Gotham A", "Gotham B", sans-serif;
  color: #FFF;
}
.nyu-stories-footer-content p {
  font-size: 16px;
}
.nyu-stories-footer-content h4 {
  color: #FFF;
  font-size: 20px;
  font-weight: 700;
}
.nyu-stories-footer-content .footer-contact,
.nyu-stories-footer-content .footer-contact p {
  text-align: right;
  line-height: 30px;
}
.nyu-stories-footer-content .footer-contact a,
.nyu-stories-footer-content .footer-contact p a {
  color: #FFF;
}
.nyu-stories-footer-content .footer-contact a:hover,
.nyu-stories-footer-content .footer-contact p a:hover {
  color: #cfd2db;
}
.nyu-stories-footer-content .footer-connect {
  margin-top: 60px;
}
.nyu-stories-footer-content .footer-connect h4 {
  display: inline-block;
}
.nyu-stories-footer-content .footer-connect ul, .nyu-stories-footer-content .footer-connect li {
  display: inline-block;
}

.category {
  display: block;
  margin: 0 auto 30px auto;
  padding-bottom: 80px;
  border-bottom: 1px solid #0a7aa6;
}
.category h1 {
  margin: 0;
  padding: 0;
}
.category .section-header {
  margin: 40px 0;
  padding: 0;
}

.cat-header {
  margin-top: 50px;
  margin-bottom: 60px;
}

.cat-divider-vertical {
  border-right: 2px solid #c8e1eb;
}

.featured-cat-detail {
  margin-bottom: 60px;
  padding-bottom: 30px;
  border-bottom: 2px solid #c8e1eb;
}

.cat-detail ul {
  margin: 0;
  padding: 0;
}
.cat-detail .featured-cat-detail,
.cat-detail li {
  margin: 30px 0;
}
.cat-detail li:first-child {
  margin-top: 0;
}
.cat-detail .featured-cat-detail:after,
.cat-detail li:after {
  content: "";
  display: block;
  margin: 0 15px 0 0;
  padding-top: 15px;
  border-bottom: 1px solid #c7c7c9;
}
.cat-detail li:last-child:after {
  border: 0;
}

.cat-detail-image {
  display: table-cell;
  vertical-align: top;
  padding-right: 15px;
}
.cat-detail-image img {
  margin: 0;
  padding: 0;
}

.cat-detail-content {
  display: table-cell;
  vertical-align: top;
}
.cat-detail-content h3 {
  font: 700 16px/1.5 "Gotham SSm A", "Gotham SSm B", sans-serif;
}
.cat-detail-content h3 a {
  color: #0a7aa6;
}

.nyu-stories-story {
  display: block;
  text-align: left;
}
.nyu-stories-story .nyuImage .left {
  margin-left: -100px;
}

.story {
  display: block;
  margin: 0 auto 30px auto;
  padding-bottom: 80px;
  border-bottom: 1px solid #0a7aa6;
}
.story p {
  font-size: 14px;
  line-height: 1.5;
}
.story h1 {
  display: inline-block;
  margin-bottom: 53px;
  width: 76%;
  font-family: "Gotham A", "Gotham B", sans-serif;
  font-size: 48px;
  line-height: 48px;
  font-weight: 300;
  color: #0a7aa6;
}
.story time {
  display: inline-block;
  width: 18%;
  vertical-align: top;
  margin: 3px 0 0 15px;
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
  font-size: 14px;
  font-weight: 700;
  color: #77c4d3;
}

.story-header {
  margin-top: 50px;
  margin-bottom: 60px;
}

.story-content {
  padding-left: 195px;
}

/* overrides */
.nyu-stories * {
  box-sizing: border-box;
}
.nyu-stories p {
  font-family: "Gotham SSm A", "Gotham SSm B", sans-serif;
}
.nyu-stories .link-text {
  color: #000;
}
.nyu-stories .pink {
  color: #d11255;
}
.nyu-stories .contentWrapper {
  width: 960px;
  clear: both;
  margin: 0 auto;
}
.nyu-stories .contentWrapper:after {
  display: table;
  content: "";
  clear: both;
}
.nyu-stories .nyu-stories-footer-content p {
  color: #FFF;
}
.nyu-stories hr {
  background-color: transparent;
  clear: both;
  display: block;
  height: 0;
  margin: 0;
  width: 0;
}
.nyu-stories .whitePromoBox img {
  border: none;
}
