/* style */
@import "partials/variables.scss";

//assumptions about base site, remove for prod? do it in jquery?
body {
margin:0;
padding:0;
}

header#ngn {
display:block;
background-color:#FFF;
}

//base id to avoid conflicts. ngn = NYU Global Nav
#ngn {
width:100%;
position:relative;
top:0;
left:0;
@import "partials/reset.scss";
@import "partials/grid.scss";
@import "partials/main.scss";
@import "partials/social.scss";
} 